<%= form_for :session do |f| %>
  <%= f.text_field :username, placeholder: "Username" %><br>
  <%= f.password_field :password, placeholder: "Password" %><br>
  <%= f.submit "Signin"%>
<% end %>

<p>Not yet a member? <%= link_to "Signup!", new_user_path %></p>
