<% @debates.each do |debate| %>
  <%= link_to debate do %>
    <div class="debate-container">
      <h2><%= debate.title %></h2>
      <p><%= debate.body %></p>
      <p><b><%= debate.topic %></b></p>

      Votes for: <%= debate.votes_for %><br>
      Votes against: <%= debate.votes_against %><br>
      Comments: <%= debate.comments.length %>
    </div>
  <% end %>
<% end %>
