<!-- <div id="topic_list">
  <h4>Topics</h4>
  <ul>
    
  </ul>
</div> -->

<div id="debate_container">

  <div id="recent_list">
    <h2>Recent Debates</h2>
    <% @recent_debates.each do |debate| %>
      <div class="single_debate">
        <%= link_to debate do %>
          <h4><%= debate.title %></h4>
          <p><%= debate.body %></p>
          
          <p>
            <%= debate.topic %> | 
            <%= debate.votes_for %> For | 
            <%= debate.votes_against %> Against | 
            <%= debate.comments.length %> Comments
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="popular_list">
    <h2>Popular Debates</h2>
    <% @popular_debates.each do |debate| %>
      <div class="single_debate">
        <%= link_to debate do %>
          <h4><%= debate.title %></h4>
          <p><%= debate.body %></p>
          
          <p>
            <%= debate.topic %> | 
            <%= debate.votes_for %> For | 
            <%= debate.votes_against %> Against | 
            <%= debate.comments.length %> Comments
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

</div>