<h1><%= @debate.title %></h1>
<p><%= @debate.body %></p>

<div class="comment">
  <center><h2>Agree</h2> <%= @debate.votes_for %> total votes</center>
  <%= form_for [@debate, Comment.new] do |f| %>
    <%= f.hidden_field :agree, value: true %>
    <%= f.text_area :content, placeholder: 'Why do you agree with this article?' %><br>
    <%= f.submit "Agree", class: 'btn btn-agree'  %>
  <% end %>


  <% @agree_comments.each do |comment| %>
    <div class="single_debate">
      <% @commemt = comment %>
        <p><%= comment.content %></p>

        <%= form_for [@debate, comment, Vote.new] do |f| %>
          <%= f.hidden_field :user_id, value: 1 %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <%= f.hidden_field :agree, value: true %>
          <%= f.submit comment.vote_count.to_s + " votes", {class: 'btn'} %>
      <% end %></p>
    </div>
  <% end %>
</div>

<div class="comment">
  <center><h2>Disagree</h2> <%= @debate.votes_against %> total votes</center>
  <%= form_for [@debate, Comment.new] do |f| %>
    <%= f.hidden_field :agree?, value: false %>
    <%= f.text_area :content, placeholder: 'Why do you disagree with this article?' %><br>
    <%= f.submit "Disagree", class: 'btn btn-disagree'  %>
  <% end %>

  <% @disagree_comments.each do |comment| %>
    <div class="single_debate">
      <% @commemt = comment %>
      <p><%= comment.content %></p>

      <%= form_for [@debate, comment, Vote.new] do |f| %>
        <%= f.hidden_field :user_id, value: 1 %>
        <%= f.hidden_field :agree, value: false %>
        <%= f.hidden_field :comment_id, value: comment.id %>
        <%= f.submit comment.vote_count.to_s + " votes", {class: 'btn'} %>
      <% end %>
    </div>
  <% end %>

</div>

