<h1><%= @debate.title %></h1>
<p><%= @debate.body %></p>


<div class="comment">
  <h3>Agree</h3>
  <%= form_for [@debate, Comment.new] do |f| %>
    <%= f.hidden_field :agree?, value: true %>
    <%= f.text_area :content %><br>
    <%= f.submit "Submit", :disable_with => 'Submiting...'  %>
  <% end %>


  <% @agree_comments.each do |comment| %>
    <% @commemt = comment %>
    <p><%= comment.content %></p>

    <%= form_for [@debate, comment, Vote.new] do |f| %>
      <%= f.hidden_field :user_id, value: 1 %>
      <%= f.hidden_field :comment_id, value: comment.id %>
      <%= comment.vote_count %>
      <%= f.submit "Vote" %>
    <% end %></p>

  <% end %>
</div>

<div class="comment">
  <h3>Disagree</h3>
  <%= form_for [@debate, Comment.new] do |f| %>
    <%= f.hidden_field :agree?, value: false %>
    <%= f.text_area :content %><br>
    <%= f.submit "Submit", :disable_with => 'Submiting...'  %>
  <% end %>

  <% @disagree_comments.each do |comment| %>
    <% @commemt = comment %>
    <p><%= comment.content %></p>

    <%= form_for [@debate, comment, Vote.new] do |f| %>
      <%= f.hidden_field :user_id, value: 1 %>
      <%= f.hidden_field :comment_id, value: comment.id %>
      <%= comment.vote_count %>
      <%= f.submit "Vote" %>
    <% end %>

  <% end %>

</div>
