<center>
  <h1><%= @debate.title %></h1>
  <h4><i><%= @debate.topic.name %></i> | by <%= link_to @debate.author.username, user_path(@debate.author) %>
</center>

<p align="justify"><%= @debate.body %></p>

<div class="comment">
  <center>
    <h2>Agree</h2>
    <h4><i><%= @debate.votes_for %> total votes</i></h4>
  </center>

  <%= render partial: 'comment_form',
      locals: {
        debate: @debate,
        placeholder: "Why do you agree with this article?",
        button_text: "Agree",
        button_class: "btn btn-agree"
      }
    %>

  <% @agree_comments.each do |comment| %>
    <div class="single_debate">
      <p><%= comment.content %></p>

      <%= render partial: 'vote_form',
        locals: {
          comment: comment,
          debate: @debate,
          agree: true
        }
      %>
    </div>
  <% end %>

</div>

<div class="comment">
  <center>
    <h2>Disagree</h2>
    <h4><i><%= @debate.votes_against %> total votes</i></h4>
  </center>

  <%= render partial: 'comment_form',
      locals: {
        debate: @debate,
        placeholder: "Why do you disagree with this article?",
        button_text: "Disagree",
        button_class: "btn btn-disagree"
      }
    %>

  <% @disagree_comments.each do |comment| %>
    <div class="single_debate">
      <p><%= comment.content %></p>

      <%= render partial: 'vote_form',
        locals: {
          comment: comment,
          debate: @debate,
          agree: true
        }
      %>
    </div>
  <% end %>
</div>

