<!DOCTYPE html>
<html>
<head>
  <title>DebatePlatform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if current_user %>
      <%= link_to 'Home', debates_path %> |
      <%= link_to 'Create Debate', new_debate_path %> |
      Welcome <%= current_user.username %> |
      <%= link_to 'Logout', logout_path %><br>
    <% else %>
      <%= link_to 'Home', debates_path %> |
      <%= link_to 'Login', login_path %> |
      <%= link_to 'Sign up', new_user_path %><br>
    <% end %>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
