<!DOCTYPE html>
<html>
<head>
  <title>DebatePlatform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Home', debates_path %> | <%= link_to 'Create Debate', new_debate_path %><br>

<%= yield %>

</body>
</html>
